ClassProbChange
1 (class_prob_change) 2 = 0.081
1 (class_prob_change) 3 = -0.058
2 (class_prob_change) 4 = 0.082
2 (class_prob_change) 5 = -0.038
3 (class_prob_change) 6 = -0.016
3 (class_prob_change) 7 = 0.049
4 (class_prob_change) 8 = 0.026
4 (class_prob_change) 9 = -0.066
5 (class_prob_change) 10 = 0.095
5 (class_prob_change) 11 = -0.021
6 (class_prob_change) 12 = 0.021
6 (class_prob_change) 13 = -0.035
7 (class_prob_change) 14 = 0.034
7 (class_prob_change) 15 = -0.019
9 (class_prob_change) 16 = 0.054
9 (class_prob_change) 17 = -0.021
10 (class_prob_change) 18 = 0.010
10 (class_prob_change) 19 = -0.024
11 (class_prob_change) 20 = 0.031
11 (class_prob_change) 21 = -0.030
12 (class_prob_change) 22 = 0.024
12 (class_prob_change) 23 = -0.019
13 (class_prob_change) 24 = 0.023
13 (class_prob_change) 25 = -0.009
14 (class_prob_change) 26 = 0.026
14 (class_prob_change) 27 = -0.016
15 (class_prob_change) 28 = 0.050
15 (class_prob_change) 29 = -0.014
17 (class_prob_change) 30 = 0.033
17 (class_prob_change) 31 = -0.024
18 (class_prob_change) 32 = -0.018
18 (class_prob_change) 33 = 0.013
20 (class_prob_change) 34 = 0.071
20 (class_prob_change) 35 = -0.007
21 (class_prob_change) 36 = 0.033
21 (class_prob_change) 37 = -0.018
22 (class_prob_change) 38 = 0.069
22 (class_prob_change) 39 = -0.007
23 (class_prob_change) 40 = 0.027
23 (class_prob_change) 41 = -0.018
24 (class_prob_change) 42 = 0.035
24 (class_prob_change) 43 = -0.010
25 (class_prob_change) 44 = 0.016
25 (class_prob_change) 45 = -0.010
27 (class_prob_change) 46 = -0.026
27 (class_prob_change) 47 = 0.012
28 (class_prob_change) 48 = -0.025
28 (class_prob_change) 49 = 0.025
29 (class_prob_change) 50 = -0.014
29 (class_prob_change) 51 = 0.044
33 (class_prob_change) 52 = 0.012
33 (class_prob_change) 53 = -0.012
35 (class_prob_change) 54 = 0.031
35 (class_prob_change) 55 = -0.014
36 (class_prob_change) 56 = 0.042
36 (class_prob_change) 57 = -0.015
37 (class_prob_change) 58 = 0.036
37 (class_prob_change) 59 = -0.006
39 (class_prob_change) 60 = 0.009
39 (class_prob_change) 61 = -0.035
40 (class_prob_change) 62 = 0.026
40 (class_prob_change) 63 = -0.030
41 (class_prob_change) 64 = 0.011
41 (class_prob_change) 65 = -0.021
43 (class_prob_change) 66 = 0.017
43 (class_prob_change) 67 = -0.013
44 (class_prob_change) 68 = 0.006
44 (class_prob_change) 69 = -0.021
45 (class_prob_change) 70 = 0.011
45 (class_prob_change) 71 = -0.006
47 (class_prob_change) 72 = -0.016
47 (class_prob_change) 73 = 0.019
50 (class_prob_change) 74 = 0.018
50 (class_prob_change) 75 = -0.024
54 (class_prob_change) 76 = 0.011
54 (class_prob_change) 77 = -0.021
55 (class_prob_change) 78 = -0.014
55 (class_prob_change) 79 = 0.025
57 (class_prob_change) 80 = 0.016
57 (class_prob_change) 81 = -0.021
59 (class_prob_change) 82 = 0.009
59 (class_prob_change) 83 = -0.022
60 (class_prob_change) 84 = 0.023
60 (class_prob_change) 85 = -0.009
61 (class_prob_change) 86 = 0.021
61 (class_prob_change) 87 = -0.018
62 (class_prob_change) 88 = 0.031
62 (class_prob_change) 89 = -0.015
63 (class_prob_change) 90 = -0.012
63 (class_prob_change) 91 = 0.020
64 (class_prob_change) 92 = -0.015
64 (class_prob_change) 93 = 0.015
65 (class_prob_change) 94 = 0.019
65 (class_prob_change) 95 = -0.010
68 (class_prob_change) 96 = 0.012
68 (class_prob_change) 97 = -0.008
71 (class_prob_change) 98 = -0.010
71 (class_prob_change) 99 = 0.008
74 (class_prob_change) 100 = -0.014
74 (class_prob_change) 101 = 0.014
75 (class_prob_change) 102 = -0.008
75 (class_prob_change) 103 = 0.009
76 (class_prob_change) 104 = 0.010
76 (class_prob_change) 105 = -0.009
78 (class_prob_change) 106 = 0.016
78 (class_prob_change) 107 = -0.032
79 (class_prob_change) 108 = 0.022
79 (class_prob_change) 109 = -0.022
82 (class_prob_change) 110 = 0.021
82 (class_prob_change) 111 = -0.006
84 (class_prob_change) 112 = 0.008
84 (class_prob_change) 113 = -0.007
85 (class_prob_change) 114 = 0.019
85 (class_prob_change) 115 = -0.011
92 (class_prob_change) 116 = 0.007
92 (class_prob_change) 117 = -0.007
93 (class_prob_change) 118 = 0.012
93 (class_prob_change) 119 = -0.011
95 (class_prob_change) 120 = 0.013
95 (class_prob_change) 121 = -0.012
97 (class_prob_change) 122 = -0.011
97 (class_prob_change) 123 = 0.012
106 (class_prob_change) 124 = 0.033
106 (class_prob_change) 125 = -0.016
111 (class_prob_change) 126 = -0.012
111 (class_prob_change) 127 = 0.009
114 (class_prob_change) 128 = 0.012
114 (class_prob_change) 129 = -0.012
115 (class_prob_change) 130 = -0.017
115 (class_prob_change) 131 = 0.007
125 (class_prob_change) 132 = -0.015
125 (class_prob_change) 133 = 0.014
127 (class_prob_change) 134 = 0.012
127 (class_prob_change) 135 = -0.012
131 (class_prob_change) 136 = -0.002
131 (class_prob_change) 137 = 0.001
